<md-content flex ng-controller="clusterController" layout="column" ng-if="submenuNavItem == 'monitoring'" ng-init="lookingNode=false">
    <div flex layout="column" layout-align="start stretch">
        <div flex layout="row" ng-show="!lookingNode">
            <md-card flex>

                <span class="own-breadcrumb md-headline">
                    <a class="a-groups" ng-click="lookingNode=false">
                        <i class="fa fa-server"></i> {{ currentAPI }}</a> >
                    <a class="a-groups" ng-click="lookingNode=false">nodes</a>
                </span>


                <md-card-content class="groupsFixPadding md-card-content-groups" ng-init="sortNodeTerm=false">
                    <div layout="row" class="topPaddingSearch">
                        <input flex id="query" placeholder="Filter nodes..." type="text" ng-model="searchNodeTerm"                            class="searchBarCluster input-filter-box agents-preview-search-box" />
                    </div>
                    <md-toolbar layout="row" class="topPaddingSearchNoBottom md-toolbar-tools-groups" ng-init="sortNodeTermDir=false">
                        <span ng-click="sortNodes('node')" flex>Node <i class="fa" ng-class="sortNodeTerm === 'node' ? (sortNodeTermDir ? 'fa-sort-asc' : 'fa-sort-desc') : 'fa-sort'" aria-hidden="true"></i></span>
                        <span ng-click="sortNodes('status')" flex>Status <i class="fa" ng-class="sortNodeTerm === 'status' ? (sortNodeTermDir ? 'fa-sort-asc' : 'fa-sort-desc') : 'fa-sort'" aria-hidden="true"></i></span>
                        <span ng-click="sortNodes('agents')" flex>Agents <i class="fa" ng-class="sortNodeTerm === 'agents' ? (sortNodeTermDir ? 'fa-sort-asc' : 'fa-sort-desc') : 'fa-sort'" aria-hidden="true"></i></span>
                        <span ng-click="sortNodes('url')" flex>Url <i class="fa" ng-class="sortNodeTerm === 'url' ? (sortNodeTermDir ? 'fa-sort-asc' : 'fa-sort-desc') : 'fa-sort'" aria-hidden="true"></i></span>
                        <span ng-click="sortNodes('synchFiles')" flex>Synchronized Files <i class="fa" ng-class="sortNodeTerm === 'synchFiles' ? (sortNodeTermDir ? 'fa-sort-asc' : 'fa-sort-desc') : 'fa-sort'" aria-hidden="true"></i></span>
                    </md-toolbar>
                    <md-divider></md-divider>

                </md-card-content>
                <div flex layout="column" class="md-padding groupsFixPadding" ng-if="!lookingGroup">
                    <div flex class="ownNavBarCluster clusterScrollable">
                        <div layout="row" ng-repeat="item in dataShownHeader.items | filter: searchNodeTerm" ng-click="switchNode(item)" class="md-subhead agents-groups-preview agents-preview-table groupsFixPadding" ng-class="item.node==='unknown' ? 'groupsANone' : ''">
                            <div flex>
                                <span class="md-headline" ng-if="item.node !== 'unknown'">{{item.node}}</span>
                                <span class="md-headline" ng-if="item.node === 'unknown'"><i class="fa fa-warning"></i></span>
                            </div>
                            <div flex>
                                <span class="md-headline">
                                    <i ng-class="(item.status === 'connected') ? 'fa fa-circle ownGreen' : 'fa fa-circle ownRed'"></i> {{(item.status === 'connected')? ' connected' : ' disconnected'}}</span>
                            </div>
                            <div flex>
                                <span class="md-headline">{{item.agents}}</span>
                            </div>
                            <div flex>
                                <span class="md-headline">{{item.url}}</span>
                            </div>
                            <div flex>
                                <span class="md-headline">{{item.synchFiles}} / {{item.totalFiles}}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <md-progress-linear class="md-accent" md-mode="indeterminate" ng-show="loading"></md-progress-linear>
            </md-card>
        </div>

        <div flex layout="row" layout-align="start stretch" ng-show="lookingNode">
            <md-card flex>
                <div layout="row">
                    <span flex class="own-breadcrumb md-headline">
                        <a class="a-groups" ng-click="lookingNode=false">
                            <i class="fa fa-server"></i> {{ currentAPI }} ></a>
                        <a class="a-groups" ng-click="lookingNode=false"> nodes ></a>
                        <a class="a-groups" ng-click="switchClusterTab('agents')"> {{ selectedNode.node }}</a>
                    </span>
                    <span ng-if="status.enabled==='yes'" class="pull-right own-breadcrumb md-headline"><i ng-class="(status.running === 'yes') ? 'fa fa-circle ownGreen' : 'fa fa-circle ownRed'" class="fa fa-circle ownGreen"></i> Running </span>
                    <span ng-if="status.running==='no'" class="pull-right own-breadcrumb md-headline"><i ng-class="(status.enabled === 'yes') ? 'fa fa-circle ownGreen' : 'fa fa-circle ownRed'" class="fa fa-circle ownGreen"></i> Enabled </span>
                </div>
                <md-card-content>
                    <md-nav-bar md-selected-nav-item="clusterTab">
                        <md-nav-item md-nav-click="switchClusterTab('agents')" name="agents">
                            <i class="fa fa-tv"></i> Agents
                        </md-nav-item>
                        <md-nav-item ng-if="hasFiles" md-nav-click="switchClusterTab('files')" name="files">
                            <i class="fa fa-file-o"></i> Files
                        </md-nav-item>
                        <md-nav-item md-nav-click="switchClusterTab('configuration')" name="configuration">
                            <i class="fa fa-gears"></i> Configuration
                        </md-nav-item>
                    </md-nav-bar>

                    <div layout="row" class="ownNavBarCluster topPaddingSearchNoBottom" ng-if="!clusterAgents.busy && clusterTab==='agents' && clusterAgents.items.length === 0">
                        <div flex>
                            <h4>
                                <i class="fa fa-warning"></i> No agents connected to this node.</h4>
                        </div>
                    </div>
                    <div layout="row" class="ownNavBarCluster topPaddingSearchNoBottom" ng-if="!clusterAgents.busy && clusterTab==='agents' && clusterAgents.items.length === 0">
                        <div flex>
                            <p>Use the following link to learn about the agent registration process:
                            </p>
                            <ul>
                                <li>
                                    <a href="https://documentation.wazuh.com/current/user-manual/registering/index.html">https://documentation.wazuh.com/current/user-manual/registering/index.html</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div layout="row" class="topPaddingSearch" ng-if="clusterAgents.items.length > 0 && clusterTab==='agents'">
                        <input flex id="query" placeholder="Filter agents..." type="text" ng-model="searchTerm" ng-change="clusterAgents.addFilter('search', searchTerm)"
                            class="searchBarCluster input-filter-box agents-preview-search-box" />
                    </div>
                    <div layout="row" class="topPaddingSearch" ng-if="clusterFiles.items.length > 0 && clusterTab==='files'">
                        <input flex id="query" placeholder="Filter files..." type="text" ng-model="searchTerm" ng-change="clusterFiles.addFilter('search', searchTerm)"
                            class="searchBarCluster input-filter-box agents-preview-search-box" />
                    </div>

                    <md-toolbar layout="row" class="md-toolbar-tools-groups" ng-if="clusterAgents.items.length > 0 && clusterTab==='agents'">
                        <span ng-click="groups.sort('id')" flex>Id <i class="fa" ng-class="clusterAgents.sortValue === 'id' ? (clusterAgents.sortDir ? 'fa-sort-asc' : 'fa-sort-desc') : 'fa-sort'" aria-hidden="true"></i></span>
                        <span ng-click="groups.sort('name')" flex>Name <i class="fa" ng-class="clusterAgents.sortValue === 'name' ? (clusterAgents.sortDir ? 'fa-sort-asc' : 'fa-sort-desc') : 'fa-sort'" aria-hidden="true"></i></span>
                        <span ng-click="groups.sort('status')" flex>Status <i class="fa" ng-class="clusterAgents.sortValue === 'status' ? (clusterAgents.sortDir ? 'fa-sort-asc' : 'fa-sort-desc') : 'fa-sort'" aria-hidden="true"></i></span>
                        <span ng-click="groups.sort('ip')" flex>Ip <i class="fa" ng-class="clusterAgents.sortValue === 'ip' ? (clusterAgents.sortDir ? 'fa-sort-asc' : 'fa-sort-desc') : 'fa-sort'" aria-hidden="true"></i></span>

                    </md-toolbar>
                    <md-divider ng-if="clusterTab==='agents'"></md-divider>
                    <md-toolbar layout="row" class="md-toolbar-tools-groups" ng-if="clusterFiles.items.length > 0 && clusterTab==='files'">
                        <span ng-click="clusterFiles.sort('filename')" flex>File <i class="fa" ng-class="clusterFiles.sortValue === 'ip' ? (clusterFiles.sortDir ? 'fa-sort-asc' : 'fa-sort-desc') : 'fa-sort'" aria-hidden="true"></i></span>
                        <span ng-click="clusterFiles.sort('status')" flex>Status <i class="fa" ng-class="clusterFiles.sortValue === 'ip' ? (clusterFiles.sortDir ? 'fa-sort-asc' : 'fa-sort-desc') : 'fa-sort'" aria-hidden="true"></i></span>
                    </md-toolbar>
                    <md-divider ng-if="clusterTab==='files'"></md-divider>
                </md-card-content>


                <div flex layout="column" class="md-padding groupsFixPadding" ng-if="!loading && clusterTab==='agents'">
                    <div flex ng-if="!loading && clusterAgents.items.length > 0 && clusterTab==='agents'" class="ownNavBarCluster clusterScrollable"
                        when-scrolled="clusterAgents.nextPage('')">
                        <div layout="row" ng-repeat="agent in clusterAgents.items | orderBy : clusterAgents.sortValue : clusterAgents.sortDir" ng-click="showAgent(agent)" class="md-subhead agents-groups-preview agents-preview-table groupsFixPadding">

                            <div flex>
                                <span class="md-headline">{{agent.id}}</span>
                            </div>
                            <div flex>
                                <span class="md-headline">{{agent.name}}</span>
                            </div>
                            <div flex>
                                <span class="md-headline">
                                    <i ng-class="(agent.status === 'Active') ? 'fa fa-circle ownGreen' : 'fa fa-circle ownRed'"></i> {{agent.status}}</span>
                            </div>
                            <div flex>
                                <span class="md-headline">{{agent.ip}}</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div flex layout="column" class="md-padding groupsFixPadding" ng-if="!loading && clusterTab==='files'">
                    <div flex ng-if="!loading && clusterFiles.items.length > 0 && clusterTab==='files'" class="ownNavBarCluster clusterScrollable"
                        when-scrolled="clusterFiles.nextPage('')">
                        <div layout="row" ng-repeat="file in clusterFiles.items" class="md-subhead agents-groups-preview agents-preview-table groupsFixPadding">

                            <div flex>
                                <span class="md-headline">{{file.filename}}</span>
                            </div>
                            <div flex>
                                <span class="md-headline">
                                    <i ng-class="(file.status === 'synchronized') ? 'fa fa-circle ownGreen' : 'fa fa-circle ownRed'"></i> {{file.status}}</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div layout="column" class="md-padding groupsFixPadding" ng-if="!loading && clusterTab==='configuration'">
                        <div layout="row">
                        <div flex="30">
                            <h4><i class="fa fa-cubes"></i> Overview</h4>
                            <md-divider></md-divider>
                            <p>Cluster <span class="md-secondary pull-right">{{config.name}}</span></p>
                            <md-divider></md-divider>
                            <p>Node <span class="md-secondary pull-right">{{config.node_name}}</span></p>
                            <md-divider></md-divider>
                            <p>Type <span class="md-secondary pull-right">{{config.node_type}}</span></p>
                        </div>
                        <div flex></div>
                        <div flex="30">
                            <h4><i class="fa fa-tasks"></i> Settings</h4>
                            <md-divider></md-divider>
                            <p>Disabled <span class="md-secondary pull-right">{{config.disabled}}</span></p>
                            <md-divider></md-divider>
                            <p>Hidden <span class="md-secondary pull-right">{{config.hidden}}</span></p>
                            <md-divider></md-divider>
                            <p>Interval <span class="md-secondary pull-right">{{config.interval}}</span></p>
                        </div>
                        <div flex></div>
                        <div flex="30">
                            <h4><i class="fa fa-feed"></i> Network</h4>
                            <md-divider></md-divider>
                            <p>Bind address <span class="md-secondary pull-right">{{config.bind_addr}}</span></p>
                            <md-divider></md-divider>
                            <p>Port <span class="md-secondary pull-right">{{config.port}}</span></p>
                            <md-divider></md-divider>
                            <p>Nodes <span class="md-secondary pull-right">{{config.nodes.length}}</span></p>
                        </div>
                    </div>
                    </div>
                <md-progress-linear class="md-accent" md-mode="indeterminate" ng-show="loading || clusterFiles.busy || clusterAgents.busy"></md-progress-linear>
            </md-card>
        </div>
    </div>
</md-content>