<md-content flex ng-controller="clusterController" layout="column" ng-if="submenuNavItem == 'monitoring'" ng-init="lookingNode=false">
    <div flex layout="column" layout-align="start stretch">
        <div flex layout="row" ng-show="!lookingNode">
            <md-card flex>

                        <span class="own-breadcrumb md-headline">
                            <a  class="a-groups" ng-click="lookingNode=false">{{ currentAPI }}</a> >
                            <a  class="a-groups" ng-click="lookingNode=false">nodes</a>
                        </span>


                <md-card-content class="groupsFixPadding md-card-content-groups">

                    <md-toolbar layout="row" class="topPaddingSearch md-toolbar-tools-groups">
                        <span flex>Node</span>
                        <span flex>Status</span>
                        <span flex>Agents</span>
                        <span flex>Url</span>
                    </md-toolbar>
                    <md-divider></md-divider>

                </md-card-content>
                <div flex layout="column" class="md-padding groupsFixPadding" ng-if="!lookingGroup">
                    <div flex class="ownNavBarCluster clusterScrollable">
                        <div layout="row" ng-repeat="item in dataShownHeader.items" ng-click="switchNode(item)" class="md-subhead agents-groups-preview agents-preview-table groupsFixPadding">
                            <div flex>
                                <span class="md-headline" ng-if="item.node !== 'unknown'">{{item.node}}</span>
                                <span class="md-headline" ng-if="item.node === 'unknown'">---</span>
                            </div>
                            <div flex>
                                <span class="md-headline">
                                    <i ng-class="(item.status === 'connected') ? 'fa fa-circle ownGreen' : 'fa fa-circle ownRed'"></i> {{(item.status === 'connected')? ' connected' : ' disconnected'}}</span>
                            </div>
                            <div flex>
                                <span class="md-headline">{{item.agents}}</span>
                            </div>
                            <div flex>
                                <span class="md-headline">{{item.url}}</span>
                            </div>

                        </div>
                    </div>
                </div>
            </md-card>
        </div>

        <div layout="row" layout-align="start stretch" ng-show="lookingNode">
            <md-card flex>
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">
                            <a ng-click="lookingNode=false">{{ currentAPI }}</a> /
                            <a ng-click="lookingNode=false">nodes</a> /
                            <a ng-click="switchClusterTab('agents')">{{ selectedNode.node }}</a> / {{ clusterTab }}</span>
                    </md-card-title-text>
                </md-card-title>
                <md-card-content>

                    <md-nav-bar md-selected-nav-item="clusterTab">
                        <md-nav-item md-nav-click="switchClusterTab('agents')" name="agents">
                            Agents
                        </md-nav-item>
                        <md-nav-item md-nav-click="switchClusterTab('files')" name="files">
                            Files
                        </md-nav-item>
                        <md-nav-item md-nav-click="switchClusterTab('status')" name="status">
                            Status
                        </md-nav-item>
                        <md-nav-item md-nav-click="switchClusterTab('configuration')" name="configuration">
                            Configuration
                        </md-nav-item>
                    </md-nav-bar>

                    <div layout="row" class="ownNavBarCluster" ng-if="!loading && clusterTab==='agents' && dataShown.length === 0">
                        <div flex>
                            <p>
                                <i class="fa fa-meh-o"></i> This node has no agents registered yet.</p>
                        </div>
                    </div>
                    <div layout="row" class="ownNavBarCluster topPaddingSearch" ng-if="dataShown.length > 0 && (clusterTab==='agents' || clusterTab==='files')">
                        <button class="searchButtonCluster">
                            <i class="fa fa-search"></i>
                        </button>
                        <input flex id="query" placeholder="Search..." type="text" ng-model="searchTerm" ng-change="applyFilter(searchTerm)"
                            class="searchBarCluster" />
                    </div>

                    <div layout="row" class="ownNavBarCluster" ng-if="dataShown.length > 0 && clusterTab==='agents'">
                        <div flex>
                            <h4>Id</h4>
                        </div>
                        <div flex>
                            <h4>Name</h4>
                        </div>
                        <div flex>
                            <h4>Status</h4>
                        </div>
                        <div flex>
                            <h4>Ip</h4>
                        </div>

                    </div>
                    <md-divider ng-if="clusterTab==='agents'"></md-divider>
                    <div ng-if="!loading && clusterTab==='agents'" ng-class="(dataShown.length > 0) ? 'ownNavBarCluster clusterScrollable' : 'ownNavBarCluster'"
                        when-scrolled="loadAgentsInformation()">

                        <div layout="row" class="ownNavBarCluster" ng-if="!loading && dataShown.length > 0 && clusterTab==='agents'" ng-repeat="agent in dataShown">
                            <div flex>{{agent.id}}</div>
                            <div flex>{{agent.name}}</div>
                            <div flex>
                                <i ng-class="(agent.status === 'Active') ? 'fa fa-circle ownGreen' : 'fa fa-circle ownRed'"></i> {{agent.status}}</div>
                            <div flex>{{agent.ip}}</div>
                        </div>
                    </div>
                    <div layout="row" class="ownNavBarCluster" ng-if="!loading && clusterTab==='files' && dataShown.length === 0">
                        <div flex>
                            <p>
                                <i class="fa fa-meh-o"></i> There are no files to show.</p>
                        </div>
                    </div>
                    <div layout="row" class="ownNavBarCluster" ng-if="dataShown.length > 0 && clusterTab==='files'">
                        <div flex>
                            <h4>File</h4>
                        </div>
                        <div flex>
                            <h4>Status</h4>
                        </div>
                    </div>
                    <md-divider ng-if="clusterTab==='files'"></md-divider>
                    <div ng-if="clusterTab==='files'" ng-class="(dataShown.length > 0) ? 'ownNavBarCluster clusterScrollable' : 'ownNavBarCluster'">
                        <div layout="row" class="ownNavBarCluster" ng-if="!loading && dataShown.length > 0 && clusterTab==='files'" ng-repeat="file in dataShown"
                            when-scrolled="loadFilesInformation()">
                            <div flex>{{file.file}}</div>
                            <div flex>
                                <i ng-class="(file.status === 'synchronized') ? 'fa fa-circle ownGreen' : 'fa fa-circle ownRed'"></i> {{file.status}}</div>
                        </div>
                    </div>
                    <div layout="row" class="ownNavBarCluster" ng-if="!loading && clusterTab==='status'">
                        <div flex>
                            <h4>Running</h4>
                            <i ng-class="(status.running === 'yes') ? 'fa fa-circle ownGreen' : 'fa fa-circle ownRed'"></i>
                            <span class="md-secondary">{{status.running}}</span>
                        </div>
                        <div flex>
                            <h4>Enabled</h4>
                            <i ng-class="(status.enabled === 'yes') ? 'fa fa-circle ownGreen' : 'fa fa-circle ownRed'"></i>
                            <span class="md-secondary">{{status.enabled}}</span>
                        </div>
                    </div>
                    <div layout="row" class="ownNavBarCluster" ng-if="!loading && clusterTab==='configuration'">
                        <div flex>
                            <h4>Disabled</h4>
                            <span class="md-secondary">{{config.disabled}}</span>
                        </div>
                        <div flex>
                            <h4>Hidden</h4>
                            <span class="md-secondary">{{config.hidden}}</span>
                        </div>
                        <div flex>
                            <h4>Name</h4>
                            <span class="md-secondary">{{config.name}}</span>
                        </div>
                        <div flex>
                            <h4>Interval</h4>
                            <span class="md-secondary">{{config.interval}}</span>
                        </div>
                    </div>
                    <md-divider ng-if="!loading && clusterTab==='configuration'"></md-divider>
                    <div layout="row" class="ownNavBarCluster" ng-if="!loading && clusterTab==='configuration'">
                        <div flex>
                            <h4>Node name</h4>
                            <span class="md-secondary">{{config.node_name}}</span>
                        </div>
                        <div flex>
                            <h4>Bind address</h4>
                            <span class="md-secondary">{{config.bind_addr}}</span>
                        </div>
                        <div flex>
                            <h4>Node type</h4>
                            <span class="md-secondary">{{config.node_type}}</span>
                        </div>
                        <div flex>
                            <h4>Port</h4>
                            <span class="md-secondary">{{config.port}}</span>
                        </div>
                    </div>
                    <md-divider ng-if="!loading && clusterTab==='configuration'"></md-divider>
                    <div layout="row" class="ownNavBarCluster" ng-if="!loading && clusterTab==='configuration'">
                        <div flex>
                            <h4>Nodes</h4>
                            <span class="md-secondary">{{config.nodes}}</span>
                        </div>
                    </div>
                </md-card-content>
            </md-card>
        </div>
    </div>
</md-content>